/* * {outline: 1px solid red !important;} */


/*
Block elements will have padding and
border included in the element's
total width and height
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  font-size: 16px;
}

/*
Make HTML 5 elements display
block-level for consistent styling
*/
header,
section,
footer,
aside,
nav,
main,
article,
figure,
figcaption {
    display: block;
}

/*
Prevent images and other objects
from overflowing parent
*/
img,
embed,
object,
video {
    max-width: 100%;
}

body {
  color: #424242;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

/* ========== GLOBAL CLASSES ========== */
.contain-960 {
  max-width: 960px;  /* set to 960px or 1200px */
  margin: 0 auto;
}

.contain-1200 {
  max-width: 1200px;  /* set to 960px or 1200px */
	margin: 0 auto;
	padding: 1rem;
	overflow: hidden
}

.serif {
font-family: 'Laila', serif;
}

.sanserif {
  /* Utilize system fonts for speed and consistency */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.center-text {
	text-align: center;
}

ul {
	list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: bold;
}

h2 {
	font-size: 2rem;
	margin: 0 0 2rem 0;
}

/* ========== COLORS ========== */
.pink {
  color: #d9577a;
}

.grey-background {
  background-color: #adadad;
}

/* ========== GENERAL STYLES ========== */


/* Prevent nav-bar overlap when navigating to header sections */
#about,
#gallery,
#press,
#menu,
#contact{
	padding-top: 70px;
}







/* ========== DESKTOP  ========== */

nav {
	height: 70px;
	width: 100vw;
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: white;
	overflow: hidden;
}

#navContent {
	height: 100%;
	display: flex;
	flex-flow: row wrap;

}

.nav-left {
	border: solid green 1px;
}

.nav-logo-link {
	border: solid 1px blue;
}

.nav-logo {
	height: 50px;
}


.nav-right {

}




#hero {
	/* width: 100vh; */
	height: 100vh;

  background: url(../img/bg-3-dark_3_1280.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-background {
	width: 100vh;
	height: 100vh;
}

#welcome {
	margin: 0;
	padding: 0;
	font-size: 4rem;
	color: white;
}




#bruno-pic {
	/* max-width: 440px; */
	/* width: 30%; */
	float: left;
	padding: 0 1rem 1rem 0;
	margin: 0 1rem 1rem 0;
}

.about-description {
	font-size: 1.3rem;;
}


.gallery {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
}

.gallery li {
	width: 100%;
	height: 300px;
	overflow: hidden;
	padding: 10px;
}




/* *************** Press *************** */
.press-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: auto;
}

.press-item {
	margin: 0 10px 40px 0;
	width: 50vw;
	height: 350px;
	/* height: 100%; */
	background-color: black;
}


/* *************** Menu *************** */
.price-table {
	background-color: #65381abe;
	width: 50%;
	margin: 0 auto;
	padding: 1rem 2rem;
	font-weight: 900;
}

.price-table h3 {
	border-top: 1px solid white;
	color: #fff;
	text-align: center;
	margin-top: 2rem;
	padding-top: .75rem;
}

.price-table h4 {
	color: #fff;
	text-align: center;
}

.price-table ul {
	padding: 0;
  list-style-type: none;
}

.price-table ul li {
	color: white;
	line-height: 1.7rem;
}

.price-table ul .menu-type {
	color: #f3e0c0;
	font-size: 1.3rem;
	padding-top: 10px;
}

.price-table ul li span {
	float: right;
	font-weight: bold;
	/* font-size: 18px; */
  color: #f3e0c0;
}


/* *************** Contact Us *************** */








/* *************** Map *************** */

#map,
#map #google_map {
    height: 375px;
}


/* *************** Footer *************** */

footer {
	background-color: #1a1a1a;
	text-align: center;
	padding: 3.5rem 0;
	color: #b2b2b2;
	font-size: .8rem;
}

footer .logo img {
    width: 10%;
}

footer .copyright .copyright_link {
    color: #f15a24 !important;
}



/* ========== TABLET  ========== */
@media screen and (min-width: 601px) {

	#bruno-pic {
		max-width: 40%;
		/* min-width:  */
		float: left;
		padding: 0 1rem 1rem 0;
		margin: 0 1rem 1rem 0;
	}

	.price-table {
		min-width: 420px;
	}





}



/* ========== TABLET  ========== */
@media screen and (min-width: 601px) and (max-width: 900px) {

	.press-container {
	flex-flow: column;

}

.press-item {
	width: 80vw;
	height: 350px;

}


}

/* ========== MOBILE  ========== */
@media screen and (max-width: 600px) {

	#bruno-pic {
		max-width: 100%;
		/* min-width:  */
		float: left;
		padding: 0 0 1rem 0;
		margin: 0 0 1rem 0;
	}

.press-container {
	flex-flow: column;
}

.press-item {
	width: 100%;
}

	

	.price-table {
		width: 100%;
		font-size: .8rem;
		padding: 1rem;
	}

	




}


